<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.intelldesk.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="cn.edu.shu.intelldesk.entity.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" javaType="java.lang.Object"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="keepAlive" property="keepAlive" jdbcType="BIT"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="props" property="props"/>
        <association property="meta" javaType="cn.edu.shu.intelldesk.entity.MenuMeta">
            <result column="keepAlive" property="keepAlive"/>
        </association>
        <collection property="roles" ofType="cn.edu.shu.intelldesk.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="nameZh"/>
        </collection>
        <collection property="children" ofType="cn.edu.shu.intelldesk.entity.Menu">
            <id column="id2" property="id"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
            <result column="props2" property="props"/>
            <association property="meta" javaType="cn.edu.shu.intelldesk.entity.MenuMeta">
                <result column="keepAlive2" property="keepAlive"/>
            </association>
            <collection property="children" ofType="cn.edu.shu.intelldesk.entity.Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getMenusByUserId" parameterType="Long" resultMap="BaseResultMap">
        select m1.`id`,m1.`path`,m1.`component`,m1.`iconCls`,m1.`name`, m1.`props`,
               m2.`component` as component2,m2.`iconCls` as iconCls2,m2.`keepAlive` as keepAlive2,m2.`name` as name2,m2.`path` as path2, m2.`props` as props2
        from menu m1,menu m2
        where m1.`id`=m2.`parentId` and m1.`id`!=1 and m2.`id` in(
              select mr.`mid` from user_role h_r,menu_role mr
              where h_r.`role_id`=mr.`rid` and h_r.`user_id`=#{userId})
        order by m1.`id`,m2.`id`
    </select>
</mapper>